.tarjetaMinimalista{
    width: 320px;
    height: 180px;
    border-radius: 7px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(20, 14, 24);
}

.tarjetaMinimalista__logo-titulo{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.tarjetaMinimalista__logo-titulo h1{
    font-size: 22px;
}
.tarjetaMinimalista__logo-titulo img{
    width: 25px;
    height: 25px;
}

.tarjetaMinimalista__descripcion h3{
    color: rgb(161, 161, 170);
    font-size: 18px;
}