.BotonNextPage{
    width: 450px;
    height: 70px;
    background: #2e2c2c;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    font-size: 10px;
    color: white;
    cursor: pointer;
    transition: all .2s;
    gap: 5px;
}
.BotonNextPage:hover{
    background: #383636;
   
}