


.seccionTopCreadores{
    border: 1px solid red;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-y: hidden;

}

.seccionTopCreadores h1{
    color: white;
    padding: 15px;
    font-size: 15px;
}

.container__creador {
    color: white;
    font-size: 15;
    padding: 13px;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    animation: floatAnimation 20s infinite alternate; /* Aplicamos la animaci贸n de flotaci贸n */
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateX(0); /* Sin traslaci贸n */
    }
    100% {
      transform: translateX(900px); /* Traslaci贸n hacia la derecha */
    }
  }
  