/*CONTAINER PRINCIPAL DE LA APP*/
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*CONTAINER DEL COMPONENTE---------------------- */

.container__playground {
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 12px;
  gap: 10px;
}

/*CONTAINER DEL DE LAS AREAS HTML Y CSS --------------------*/

.container__playground__areas {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #272626ea;
}
.container__playground__areas__buttons {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.container__playground__areas__textArea {
  height: 80%;
}

.container__playground__areas__textArea textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/*CONTAINER DEL IFRAME---------------------------------------- */

.container__playground__iframe {
  width: 50%;
}

.container__playground__iframe__darkOn {
  width: 50%;
}

.areaOn {
  display: none;
}
.container__playground__iframe iframe {
  width: 100%;
  height: 90%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 45px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.container__playground__iframe__darkOn iframe {
  width: 100%;
  height: 90%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-bottom: 45px;
  border: 1px solid #e8e8e8;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top: none;
}

.container__playground__iframe__botonOscuro {
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: none;
}

.container__playground__iframe__botonOscuro__on {
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: #212121;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
