.container__header{
    width: 100vw;
    height: 700px;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    
    

}
.container__header__titulo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__header__titulo h1{
    color: white;
    text-align: start;
    font-size: 50px;
    width: 600px;
    font-family: __Inter_16e16b, __Inter_Fallback_16e16b, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.container__header__tarjetasFlotantes{
    width: 50%;
    display: flex;
}

span{
    color: rgb(217, 50, 248);
}


.container__header__titulo__button {
   width: 100%;
}



.container__titulo__button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container__titulo__button button{
    width: 170px;
    height: 45px;
    border-radius: 4px;
    border: none;
    background-color: rgb(217, 50, 248) ;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    transition: all .2s;
    font-family: __Inter_16e16b, __Inter_Fallback_16e16b, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container__titulo__button button:hover{
    background-color: rgb(220, 76, 246) ;
}



