.NavBar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
    padding: 15px;
    

}
.container__navBar__logo{
    width: 50%;
    display: flex; 
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    gap: 40px;

}
.navbar__logo{
    width: 80px;
    height: 25px;
}

.container__navBar__perfil{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.container__navBar__perfil h1{
    font-size: 18px;
    color: white;
}

.container__navBar__perfil__user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}
.container__navBar__perfil__user:hover{
    background-color: rgb(29, 27, 27);
}