.TarjetaPerfil{
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(20, 14, 24);
    padding: 10px;
    border-radius: 4px;
}
.TarjetaPerfil img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.tarjetaPerfil__usuario{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.tarjetaPerfil__usuario h3{
    font-size: 18px;
    text-align: start;
}


.tarjetaPerfil__usuario h2{
    font-size: 16px;
    color: rgb(113, 113, 122)
}

.tarjetaPerfil__usuario span{
    font-size: 16px;
    color: rgb(113, 113, 122)
}



