.seccionTuDiseño{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.seccionTuDiseño__descripcion {
    padding-left: 140px;
}
.seccionTuDiseño__descripcion h1 {
    color: white;
    text-align: start;
    font-size: 50px;
    width: 600px;

}