.flotante {
  position: relative;
  animation: flotar 2s ease-in-out infinite alternate;
  color: white;
  display: flex;
}

@keyframes flotar {
  0% {
      top: 0;
  }
  100% {
      top: 12px; /* Puedes ajustar esta cantidad para cambiar la distancia del movimiento */
  }
}
